{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="jumbotron jumbotron-fluid bg-primary text-white pb-0">
  <div class="container pt-5 d-flex align-items-center flex-column">
    <!-- Avatar Image -->
    <img class="masthead-avatar mb-3" src="{% static 'images/MGN2.svg' %}" alt="" width="150rem">
    <!-- Heading -->
    <h1 class="masthead-heading text-uppercase mb-0 p-2"><b>Malmo Goes Neural</b></h1>
    <!-- Icon Divider -->
    <div class="row p-2">
      <div class="col"><hr class="custom-divider"></div>
      <div class="col-auto">
	<i class="fas fa-database"></i>
      </div>
      <div class="col"><hr class="custom-divider"></div>
    </div>
  </div>
</header>

<div class="container-fluid text-justify">
  <div class="row text-white pb-2">
    <div class="col-1 col-sm-1 col-md-2"></div>
    <div class="col-10 col-sm-10 col-md-8">
        <p class="font-weight-bold">We are  two Spanish researchers/physicists based in Malmö (Sweden) that share an interest for Computer Science. Specifically, we wish to expand our knowledge on AI, Computer Vision and IoT.</p>
        <p></p>
        <p class="font-weight-bold">This site was born aiming to be a playground for learning how to develop web applications that deploy machine/deep learning models. You can check out our tutorials and test the accuracy or our projects. Any feedback is welcome, it will keep us learning!</p>
      <div class="col-1 col-sm-1 col-md-2"></div>
    </div>
  </div>
  <div class="container-fluid pt-1 pb-3">
    <div class="row text-center">
      <div class="col-12">
        <a class="btn btn-secondary btn-outline-light btn-lg" href="{% url 'project_list' %}" role="button">Have a look at our projects!</a>
      </div>
    </div>
  </div>
</div>




{% endblock content %}
