{% extends 'base.html' %}
{% load static %}
{% block content %}


<header class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container d-flex align-items-center pt-5 flex-column">

    <h1 class="text-uppercase mb-0"><strong>Projects</strong></h1>
    
    <!-- Icon Divider -->
    <div class="row pt-2">
      <div class="col"><hr class="custom-divider"></div>
      <div class="col-auto">
	<i class="fas fa-database"></i>
      </div>
      <div class="col"><hr class="custom-divider"></div>
    </div>

  </div>
</header>

<div class="container">
  {% if view.django_list %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h2 class="text-white">ML & Django</h3>
  </div>
  
  <div class="row align-items-center justify-content-end mb-5">

    {% for field in view.django_list %}
    <div class="col mb-5">
      <div class="card text-center" style="width: 18rem;">
        <div class"row">
          <img src="{{ field.project_image.url }}" class="card-img-top" alt="{{ field.topic }}" style="width: 14rem;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ field.name }}</h5>
          <p class="card-text">{{ field.short_description|safe }}</p>
          <a href="{% url field.url %}" class="btn btn-primary">Explore!</a>
        </div>
      </div>
    </div>

    {% endfor %}
    {% endif %}   

  </div>

  <div class="container">
  {% if view.cv_list %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h2 class="text-white">Computer Vision</h3>
  </div>
  
  <div class="row align-items-center justify-content-end mb-5">

    {% for field in view.cv_list %}
    <div class="col mb-5">
      <div class="card text-center" style="width: 18rem;">
        <div class"row">
          <img src="{{ field.project_image.url }}" class="card-img-top" alt="{{ field.topic }}" style="width: 14rem;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ field.name }}</h5>
          <p class="card-text">{{ field.short_description|safe }}</p>
          <a href="{% url field.url %}" class="btn btn-primary">Explore!</a>
        </div>
      </div>
    </div>

    {% endfor %}
    {% endif %}   

  </div>

  {% if view.other_list %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h2 class="text-white">Other</h3>
  </div>
  
  <div class="row align-items-center justify-content-end mb-5">

    {% for field in view.other_list %}
    <div class="col mb-5">
      <div class="card text-center" style="width: 18rem;">
	<div class"row">
	  <img src="{{ field.project_image.url }}" class="card-img-top" alt="{{ field.topic }}" style="width: 14rem;">
	  </div>
	<div class="card-body">
	  <h5 class="card-title">{{ field.name }}</h5>
	  <p class="card-text">{{ field.short_description }}</p>
	  <a href="{% url field.url %}" class="btn btn-primary">Explore!
	  </a>
	</div>
      </div>
    </div>

    {% endfor %}
    {% endif %}
    

  </div>

  
</div>

  

  

{% endblock content %}
