{% extends 'base.html' %}
{% load static %}
{% block content %}


<header class="jumbotron jumbotron-fluid bg-primary text-white text-center pt-5 pb-0">
  <div class="container pt-5 d-flex align-items-center flex-column">
    <!-- Heading -->
    <h1 class="display-4">Projects</h1>
    <!-- Icon Divider -->
    <div class="row">
      <div class="col"><hr class="custom-divider"></div>
      <div class="col-auto">
        <i class="fas fa-align-justify"></i>
      </div>
      <div class="col"><hr class="custom-divider"></div>
    </div>    
  </div>
</header>

{% if view.django_list %}
<div class="container justify-content-center align-text-center ">
  <div class="row text-center pb-3">
    <div class="col">
      <h2 class="text-white">ML & Django</h2>
    </div>
  </div>
  <div class="row mx-auto">
    {% for field in view.django_list %}

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 pb-5 w-70">

      <div class="card border-warning text-center mr-1 ml-1" style="width: 18rem;">
        <img src="{{ field.project_image.url }}" class="card-img-top img-fluid w-70" alt="{{ field.topic }}">
        <div class="card-body">
          <h3 class="card-title">{{ field.name }}</h3>
          <p class="card-text">{{ field.short_description|safe }}</p>
          <a href="{% url 'project' field.pk %}" class="btn btn-light btn-outline-success"><strong>Explore!</strong></a>
        </div>
      </div>

    </div>

    {% endfor %}
  </div>
</div>
{% endif %}

{% if view.cv_list %}
<div class="container pl-5 pr-5">
  <div class="row text-center">
    <div class="col">
      <h2 class="text-white">Computer Vision</h2>
    </div>
  </div>
  <div class="row justify-content-center align-text-center mb-5">
    {% for field in view.cv_list %}

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 pb-5">

      <div class="card border-warning w-90 text-center">
        <img src="{{ field.project_image.url }}" class="card-img-top img-fluid w-100" alt="{{ field.topic }}">
        <div class="card-body">
          <h3 class="card-title">{{ field.name }}</h3>
          <p class="card-text">{{ field.short_description|safe }}</p>
          <a href="{% url 'project' field.pk %}" class="btn btn-primary">Explore!</a>
        </div>
      </div>

    </div>
    
    {% endfor %}
  </div>
</div>
{% endif %}

{% if view.other_list %}
<div class="container pl-5 pr-5">
  <div class="row text-center">
    <div class="col">
      <h2 class="text-white">Other</h2>
    </div>
  </div>
  <div class="row justify-content-center align-text-center mb-5">
    {% for field in view.other_list %}

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 pb-5">

      <div class="card border-warning w-90 text-center">
        <img src="{{ field.project_image.url }}" class="card-img-top img-fluid w-100" alt="{{ field.topic }}">
        <div class="card-body">
          <h3 class="card-title">{{ field.name }}</h3>
          <p class="card-text">{{ field.short_description|safe }}</p>
          <a href="{% url 'project' field.pk %}" class="btn btn-primary">Explore!</a>
        </div>
      </div>

    </div>
    
    {% endfor %}
  </div>
</div>
{% endif %}


{% endblock content %}
