{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="jumbotron jumbotron-fluid bg-primary text-white text-center pb-0">
  <div class="container pt-5 d-flex align-items-center flex-column">
    <!-- Heading -->
    <h1 class="display-4">{{ object.longName }}</h1>    
  </div>
  <div class="container pt-5 d-flex align-items-center flex-column">
  	<p>{{ object.short_description2|safe }}</p>
  </div>
  <div class="container pt-1 d-flex align-items-center flex-column">
    <a href="{% url object.url %}" class="btn btn-secondary btn-outline-light btn-lg">Try it out!</a>  
  </div>
</header>

<div class="container bg-white">
  {{ object.long_description|safe }}
</div>
<div class="container pb-5"></div>

{% endblock content %} 

