*~
db.sqlite3
simpsons_go_neural/migrations/__pycache__
simpsons_go_neural/__pycache__
settings/__pycache__
media/emotionrecognition/faceinputpictures/*
media/emotionrecognition/faceoutputpictures/*
media/member_images
media/project_description_images
media/*
pages/__pycache__/
settings/config.json
static/admin
settings/__pycache__
**/__pycache__
logs
Pipfile
Pipfile.lock
*/__pycache__