{% extends 'base.html' %}
{% load static %}
{% block content %}


<header class="jumbotron jumbotron-fluid bg-primary text-white text-center pt-5 pb-0">
  <div class="container pt-5 d-flex align-items-center flex-column">
    <!-- Heading -->
    <h1 class="display-4">Emotion Recognition</h1>
    <!-- Icon Divider -->
    <div class="row">
      <div class="col"><hr class="custom-divider"></div>
      <div class="col-auto">
        <i class="fas fa-align-justify"></i>
      </div>
      <div class="col"><hr class="custom-divider"></div>
    </div>    
  </div>
</header>

<div class="container-fluid text-white pl-5 pr-5 pb-3">
  <div class="row text-center">
    <div class="col">
      <h2>Upload an image</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.face_input_picture }}
        <button class="btn btn-secondary btn-outline-light btn-lg" type="submit">Evaluate</button>
      </form>
    </div>
  </div>
</div>




{% endblock content %}


