{% extends 'base.html' %}
{% load static %}
{% block content %}


<header class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container d-flex align-items-center pt-5 flex-column">

    <h1 class="text-uppercase mb-0"><strong>Simpsons Go Neural</strong></h1>
    
    <!-- Icon Divider -->
    <div class="row p-2">
      <div class="col"><hr class="custom-divider"></div>
      <div class="col-auto">
	<i class="fas fa-database"></i>
      </div>
      <div class="col"><hr class="custom-divider"></div>
    </div>

  </div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col align-self-center">
      <form action="{% url 'simpsons_go_neural_application' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
          <input id="id_image" type="file" name="image" class="form-control-file" onchange="loadFile(event)">
        </p>
        <p><input class="" type="submit" value="Submit" /></p>
      </form>
    </div>
    <div class="col align-self-center">
      <img id="output" class="img-fluid w-100" />
    </div>
  </div>
</div>

<script>
var loadFile = function(event) {
  var image = document.getElementById('output');
  image.src = URL.createObjectURL(event.target.files[0]);
};
</script>

{% endblock content %}

