{% extends 'base.html' %}
{% load static %}
{% block content %}


<header class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container d-flex align-items-center pt-5 flex-column">

    <h1 class="text-uppercase mb-0"><strong>Academic Website</strong></h1>
    
    <!-- Icon Divider -->
    <div class="row p-2">
      <div class="col"><hr class="custom-divider"></div>
      <div class="col-auto">
	<i class="fas fa-database"></i>
      </div>
      <div class="col"><hr class="custom-divider"></div>
    </div>

    <a class="btn btn-secondary btn-lg" href="{% url 'home_academic_website' %}" role="button">Try it out!</a>

  </div>
</header>

{% endblock content %}

